.grid{
     width: 606px;
     height: 606px;
     display: flex;
     flex-wrap: wrap;
}

.square{
     height: 200px;
     width: 200px;
     border: 1px solid #111;
}

.mole{
     background-image: url('./click\ img.webp');
     background-position: center;
     background-size: cover;
     text-align: center;
     cursor: pointer;
}

.mole::before{
     content: "Hey There 👋, I'm Here";
     color: rgb(0, 17, 255);
     font-weight: bolder;
     font-size: 1.5rem;
}